
.banner-wrapper{
    padding: 60px 0px;
    background-color: rgb(205 200 200 / 21%);
    margin: 80px 0px;
}
.sup-title {
    font-size: 24px;
    color: #333;
    font-weight: 200;
}
.banner-title {
    font-size: 60px;
    margin: 18px 0px;
    color: #333333;
    position: relative;
    @media screen and (max-width: 998px) {
        font-size: 40px;
    }
}
.description {
    font-size: 18px;
    color: #6e6e6e;
    font-weight: 300;
    margin-bottom: 30px;
}
.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-title:before {
    content: "";
    width: 127px;
    height: 2.5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f63440;
    margin: 0 auto;
    top: 70px;
    background-color: rgba(0,0,0,0.1);
    @media screen and (max-width: 998px) {
        top: 50px;
    }
}

.title-section{
    position: relative;
}